{% extends 'base.html' %}
{% block content %}

<h1>Book</h1>

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Book!" class="btn">
</form>


<script>
  const startDateEl = document.getElementById('id_trip_start');
  const endDateEl = document.getElementById('id_trip_end');
  // M is Materialize's global variable
  M.Datepicker.init(startDateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
  });
  M.Datepicker.init(endDateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
  });
</script>

{% endblock %}