{% extends 'base.html' %}
{% block content %}
<div class="fake-body">
    <h1>Car Details</h1>
    
    <div class="detail-pic-container">
        {% for photo in car.photo_set.all %}
        <img style="height: 700px; padding: 0;" class="responsive-img card-panel" class="detail-pic" src="{{photo.url}}">
        {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}
    </div>
    
    <form action="{% url 'add_photo' car.id %}" enctype="multipart/form-data" method="POST" >
        {% csrf_token %}
        {% if request.user.is_superuser %}
        <input type="file" name="photo-file">
        <button type="submit" class="btn">Upload Photo</button>
        {% endif %}
        <br><br>
    </form>
    <div class="info-form-container">
        <div class="car-info">
            <p>Brand: {{ car.brand }}</p>
            <p>Model: {{ car.model }}</p>
            <p>Year: {{ car.year }}</p>
            <p>Price Per Day: $<span id="price-per-day">{{ car.price_per_day }}</span></p>
            <p>Description: {{ car.description }}</p>
        </div>
        
        <div class="col s6">
            <form action="{% url 'add_booking' car.id %}" method="POST">
                {% csrf_token %}
                <!-- Render the inputs -->
                {{ booking_form.as_p }}
                <input type="submit" class="btn" value="Book!">
            </form>
            <button id="calculate">Calculate Price</button>
            <p>{{ error_msg }}</p>
            <p id="total_price"></p>
        </div>
    </div>
</div>
    
    <script>
        const startDateEl = document.getElementById('id_trip_start');
    const endDateEl = document.getElementById('id_trip_end');
    const totalPriceEl = document.getElementById('total_price');
    const pricePerDayEl = document.getElementById('price-per-day');
    const calculateEl = document.getElementById('calculate');
    // M is Materialize's global variable
    M.Datepicker.init(startDateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    M.Datepicker.init(endDateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    
    calculateEl.addEventListener('click', function() {
        const startDate = new Date(startDateEl.value);
        const endDate = new Date(endDateEl.value);
        const timeDiff = endDate.getTime() - startDate.getTime();
        const dayDiff = timeDiff / (1000 * 3600 * 24);
        const totalPrice = dayDiff * parseInt(pricePerDayEl.textContent);
        console.log(dayDiff);
        totalPriceEl.innerText = `Total Price: $${totalPrice}`;
    });
</script>

{% endblock %}