{% extends 'base.html' %}
{% block content %}

<h1>All Cars</h1>

{% for car in cars %}

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
      <a href="{% url 'detail' car.id %}">
        <form action="{% url 'add_photo' car.id %}" enctype="multipart/form-data" method="POST" >
          {% csrf_token %}
          {% if request.user.is_superuser %}
          <input type="file" name="photo-file">
          {% endif %}
          <br><br>
        </div>
        <span class="card-title">Click to book</span>
        <div class="card-content">
          <p>Brand: {{ car.brand }}</p>
          <p>Model: {{ car.model }}</p>
          <p>Year: {{ car.year }}</p>
          <p>Price Per Day: ${{ car.price_per_day }}</p>
        </div>
      </a>
      {% if request.user.is_superuser %}
      <button type="submit" class="btn">Upload Photo</button>
      {% endif %}
    </form>
    </div>
    </div>
  </div>
</div>
{% if request.user.is_superuser %}
{% for photo in car.photo_set.all %}
<img style="height: 300px;"class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
{% endif %}
{% endfor %}

{% endblock %}

<!-- 
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a> -->